<!DOCTYPE html>
	<html cmls:th="http//www.thymeleag.org">
	<head th:replace="Layouts :: head">
    <nav th:replace="Layouts::navbarFragment"> </nav>

<title>Home</title>

</head>
<body>

 <div class="container">
 <h3>Main Dashboard</h3>
 <hr>
 <h3>Version Number: <a th:text ="${versionNumber}"></a></h3>
  <h4> Current Projects</h4>
  <div class="row">
  	<div class="col-md-6">

 	<table class="table table-bordered table-striped">
 		<thead class="thead-dark">
 			<tr>
 			   <th>Project Name</th>
 			   <th>Project Stage</th>
 			   
 			</tr>
 		</thead>
 		<tbody >
 		<tr th:each= "aHomeProjectsObject: ${homeProjects}">
 			<td th:text="${aHomeProjectsObject.name}"/> 
 			<td th:text="${aHomeProjectsObject.stage}"/> 
 		</tr>
 		</tbody>
 	</table>
 	</div>
    <div class="col-md-4">
 	<canvas id="myPieChart" height="50"  width="50"></canvas>
  </div>
 </div>
 </div>
 
  <div class="container">
 <h4> Current Employees</h4>
  <div class="row">
 	<div class="col-md-6">
 	 <table class="table table-bordered table-striped">
 	 	<thead class="thead-dark">
 	 		<tr>
 	 			<th>First Name</th>
 	 			<th>Last  Name</th>
 	 			<th>Age </th>
 	 			<th>salary</th>
 	 		</tr>
 	 		<tr 	th:each="aEmployee: ${anEmployee}">
 	 			<td th:text="${aEmployee.firstName}">
 	 			<td th:text="${aEmployee.lastName}">
 	 			<td th:text="${aEmployee.age}">
 	 			<td th:text="${aEmployee.salary}">
 	 		</tr>
 	 </table>
 	 </div>
  </div>
 </div>
  
  <script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>
</html>